*{
    box-sizing: border-box;
}

/* Esta clase corresponde a la fuente navideña */
/* .mountains-of-christmas-bold {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
}   */

@font-face {
    font-family: halloween;
    src: url("./Lacquer/Lacquer-Regular.ttf");
}

body{
    background-color: pink;
}

h1{
    background-color:#663399;
    margin:10px;
    padding: 10px;
    border: solid rgb(38, 255, 0);
    color: rgb(255, 255, 255);
    font-family: halloween;
}

h1{
    background-color: black;
}

main section{
    background-color: red;
}

section{
    background-color:#0444b4;
    width: 1150px;
    height: 456px;
}

.producto{
    background-color: rgb(6, 97, 67);
}

#oferta{
    background-color: rgb(243, 8, 8);
}

div{
    display: inline-block;
    color: rgb(4, 215, 252);
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 0 ;
    margin: 0;
    overflow: hidden;
}

h2{
    font-family: "Mountains of Christmas", serif;
}

p{
    color:aliceblue;
    font-family: "Edu AU VIC WA NT Dots";
}

div img{
    width: 550px;
    height: 466px;
    object-fit: contain;
}

#izquierda{
padding: 0 20px 160px 20px;
}

#derecha{
    padding: 0px 0px 0px 80px;
}

/* 
.dos{
    margin-top: 10px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height:378px;
    margin: 10px auto;
    /* width: 1150px;
    height: 378px; 
}

.dos div{
    width: 50%;
}

.dos p, .dos h2{
    width: 80%;
}

.dos div:first-child{
    width: 50%;
    margin-left: 30px;
}

.dos img{
    width: 100%;
    /* height: 486px;
} */